body {
	background: black;
}

#plg {
	background: white;
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(9, auto);
}

@media (max-width: 1280px) {
	#plg {
		grid-template-columns: repeat(7, auto);
	}
}

@media (max-width: 1024px) {
	#plg {
		grid-template-columns: repeat(5, auto);
	}
}

@media (max-width: 700px) {
	#plg {
		grid-template-columns: repeat(3, auto);
	}
}

@media (max-width: 500px) {
	#plg {
		grid-template-columns: repeat(2, auto);
	}
}

.wrapper {
	padding: 20px;
}

.block {
	text-align: center;
	height: 200px;
	font-size: 18px;
	font-weight: bold;
	transform: translate(0%, 30%);
}

@media (min-width: 501px) {
	.wrapper:nth-of-type(2n) {
		background: black;
	}
	.wrapper:nth-of-type(2n - 1) {
		background: white;
	}
	.wrapper:nth-of-type(2n) .block {
		color: white;
	}
}

@media (max-width: 500px) {
	.wrapper:nth-of-type(4n + 1) {
		background: white;
		color: black;
	}
	.wrapper:nth-of-type(4n + 2) {
		background: black;
		color: white;
	}
	.wrapper:nth-of-type(4n + 3) {
		background: black;
		color: white;
	}
	.wrapper:nth-of-type(4n + 4) {
		background: white;
		color: black;
	}
}

.wrapper:nth-of-type(6n - 3) .block {
	transform: rotate(0.01turn);
}

.wrapper:nth-of-type(7n - 6) .block {
	transform: rotate(-0.02turn);
}

.wrapper:nth-of-type(13n - 6) .block {
	transform: translate(0%, 20%) rotate(0.03turn);
}

.wrapper:nth-of-type(7n - 4) .block {
	transform: rotate(0.25turn) translate(0%, 40%);
}